{% extends 'template.html' %}


{% block head %}
<title>Add Movie</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Add New Movie</h1>
    <form action="/add" method="POST">
        <label for="title">Title of movie (max of 30 characters):</label>
        <input type="text" id="title" name="title" maxlength="30" placeholder="N/A" size="30" value="Need a Title here" required><br><br>

        <label>Movie Format (DVD/Blue-Ray):</label>
        <input type="radio" id="dvd" name="format" value="DVD" required> DVD
        <input type="radio" id="blu-ray" name="format" value="Blu-Ray" required> Blu-Ray<br><br><br>

        <label for="Director">Director (max of 25 characters):</label>
        <input type="text" id="director" name="director" maxlength="25" value="n/a" required><br><br>

        <!-- Dropdown list for item -->
        <label for="location">Location:</label>
        <select id="location" name="location" required>
            <option value="Basement">Basement</option>
            <option value="Family room">Family room</option>
            <option value="Office">Office</option>
        </select><br><br>
				
        <label for="comments">Comments (max of 50 characters):</label>
        <input type="text" id="comments" name="comments" maxlength="50" value="n/a" required><br><br>

         <!-- Submit Button -->
        <input type="submit" value="Add Movie">
    </form>
</div>


{% endblock %}
